{% extends 'lab4_header.html' %}
{% load static %}

{% block tab_title %} Note Form {% endblock %}</title>

  <body>

  {% block content %}
    
    <h1>Sapphic Cards</h1>

    
    <div class="row">
      {% for note in notes %}
      <div class="col-3">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="{{ note.album_cover }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">to: {{ note.to }}</h5>
            <p class="card-text">from: {{ note.from_who }}</p>
            <p class="card-text">title: {{ note.title }}</p><br><br>
            <p class="card-text">{{ note.message }}</p>
            <a href="{{ note.song_link }}" class="btn btn-primary">listen along</a>
          </div>
        </div>
        <br>
      </div>
      {% endfor %}
    </div>
    
    
    
    {% endblock %}
  </body>

