{% extends 'lab4_header.html' %}

{% block tab_title %} Yearning Messages {% endblock %}

  <body>

    {% block content %}
    <h1>Sapphic Letters</h1>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>

      {% for note in notes %}
      <tr>
        <td style="text-align: center;">{{ note.to }}</td>
        <td style="text-align: center;">{{ note.from_who }}</td>
        <td style="text-align: center;">{{ note.title }}</td>
        <td>{{ note.message }}</td>
      </tr>
      {% endfor %}
    </table>
    
    {% endblock %}
  </body>

