{% extends 'lab4_header.html' %}

{% block tab_title %} Add Letter {% endblock %}
{% block title %} Add Letter {% endblock %}


    {% block content %}


    <body>

        <form method="POST" action=""> {% csrf_token %} 
            <div class="to-form">
                <label>to: </label>
                {{ form.to }}
                <br><br>
            </div>
            <div class="from-who-form">
                <label>from: </label>
                {{ form.from_who }}
                <br><br>
            </div>
            <div class="title-form">
                <label>title: </label>
                {{ form.title }}
                <br><br>
            </div>
            <div class="to-form">
                <label>message:</label><br>
                {{ form.message }}
                <br><br>
            </div>
            <div class="song-form">
                <label>song link:</label><br><br>
                <div class="test">
                    {{ form.song_link }}
                </div>
                <br><br>
            </div>
            <div class="album-cover-form">
                <label>album cover:</label><br><br>
                {{ form.album_cover }}
                <br><br>
            </div>
            <input class="submit-button" type="submit" value="Submit">
            <br><br>
        </form>
        
    
    {% endblock %}

    
    </body>
</html>