<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <!-- add bootstrap CSS stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <style> 
    body {
        background-color: rgb(255, 242, 224);
        margin-top: 50px;
        text-align: center;
    }


    h1 {
        color: rgb(182, 98, 112);
        text-align: center;
      }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    tr:nth-child(even) {
        background-color: rgb(194, 212, 173);
    }

    tr {
    text-align: center;
    color: rgb(65, 92, 35);
    }

    th {
    text-align: center;
    color: rgb(173, 123, 131);
    }

    .form {
        max-width: 500px;
        margin: auto;
    }
  </style>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <span class="navbar-brand mb-0 h1">Indira's PBP Lab</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/lab-3/add">Add Friend</a>
          <a class="nav-item nav-link" href="/lab-1/friends">Friend List</a>
          <a class="nav-item nav-link" href="/lab-4/add-note">Add Letter</a>
          <a class="nav-item nav-link" href="/lab-2/">Sapphic Letters</a>
        </div>
      </div>
    </nav>

    <h1>FRIEND LIST</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for f in friends %}
      <tr>
        <td>{{ f.name }}</td>
        <td>{{ f.npm }}</td>
        <td>{{ f.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
