{% extends 'lab3_header.html' %}
{% block tab_title %} Add Friend {% endblock %}



<body>

    {% block content %}
   

    <h1>ADD FRIEND</h1>
    <div class="form"> <!--defines a division or a section in an HTML document.-->
        <form action="" method="POST"> {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="npm">NPM:</label>
            <input type="text" id="npm" name="npm"><br><br>
            <label for="dob">DOB:</label>
            <input type="date" id="dob" name="dob"><br>
            <input type="submit" value="Submit"><br>
            
        </form>
    </div>
    {% endblock %}

</body>