<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yearning Messages</title>
    <!-- add bootstrap CSS stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <style>

    body {
      background-color: rgb(255, 242, 224);
      margin-top: 50px;
    }

    h1 {
        color: rgb(182, 98, 112);
        text-align: center;
      }

    table {
      border: 3px solid darkseagreen;

      border-collapse: collapse;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    td, tr {
      border: 2px solid darkseagreen;
      color: darkseagreen;
      white-space: break-spaces;
      padding: 15px;
      font-size: 24px;
      border-width: thin
    }
    th {
      color: darkseagreen;
      border: 2px solid darkseagreen;
      height: 70px;
      padding: 10px;
      font-size: 32px;
    }
    
  </style>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <span class="navbar-brand mb-0 h1">Indira's PBP Lab</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home<span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="/lab-3/add">Add Friend</a>
          <a class="nav-item nav-link" href="/lab-1/friends">Friend List</a>
          <a class="nav-item nav-link" href="/lab-4/add-note">Add Letter</a>
          <a class="nav-item nav-link" href="/lab-2/">Sapphic Letters</a>
        </div>
      </div>
    </nav>

    <h1>Sapphic Letters</h1>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for note in notes %}
      <tr>
        <td style="text-align: center;">{{ note.to }}</td>
        <td style="text-align: center;">{{ note.from_who }}</td>
        <td style="text-align: center;">{{ note.title }}</td>
        <td>{{ note.message }}</td>
      </tr>
      {% endfor %}
    </table>

    <!-- add JS components for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>
