
/* unvisited link */
a:link {
    color: #B66270;
  }

/* visited link */
a:visited {
  color: #B66270;
}

/* mouse over link */
a:hover {
  color: #db8291;
}

/* selected link */
a:active {
  color: #db8291;
}

article {
  color: darkkhaki;
  font-size: large;
  font-family: serif;
  text-align: center;

}
body {
    background-color: rgb(255, 242, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    text-align: center;
    
}
h1 {
    color: rgb(182, 98, 112);
    text-align: center;
    
  }

table {
  border: 3px solid darkseagreen;

  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  
}

td, tr {
  border: 2px solid darkseagreen;
  color: darkseagreen;
  white-space: break-spaces;
  padding: 15px;
  font-size: 24px;
  border-width: thin
}
th {
  color: darkseagreen;
  border: 2px solid darkseagreen;
  height: 70px;
  padding: 10px;
  font-size: 32px;
}



h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

input[type=text] {
  background-color: rgb(255, 242, 224);
  color: rgb(173, 123, 131);
  border: none;
  border-bottom: 2px solid rgb(182, 98, 112);
  width: 50%;
}

input[type=date]{
  background-color: rgb(255, 242, 224);
  color: rgb(173, 123, 131);
  border: none;
  border-bottom: 2px solid rgb(182, 98, 112);
  width: 50%;
}

input[type=url] {
  background-color: rgb(255, 242, 224);
  color: rgb(173, 123, 131);
  border: none;
  border-bottom: 2px solid rgb(182, 98, 112);
  width: 50%;
}

input[type=submit] {
  background-color: darkseagreen;
  border: none;
  color: rgb(65, 92, 35);
}

label {
  color: darkseagreen;
}



textarea {
  background-color: rgba(182, 98, 112, 0.185);
  border: none;
  border-radius: 5px;
  color: rgb(173, 123, 131);
  height: 30%;
  resize: none;
  width: 50%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: darkseagreen !important;
  border: none;
  color: rgb(255, 248, 236) !important;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: rgb(255, 248, 236);
    border-radius: 5px; /* 5px rounded corners */
    box-shadow: 0 4px 8px 0 rgba(77, 51, 22, 0.2);
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 50%;
}


.card-title {
  color: #634b29;
  font-size: 200%;
}

.card-text {
  color: #806745;
  white-space: pre-line;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(77, 51, 22, 0.301);
}

/* Add some padding inside the card container */
.container {
  margin-top: 50px;
  padding: 10px 20px;
  text-align: center;
}



.form {
  max-width: 50%;
  margin: auto;
}

.navbar {
  background-color: #dac09c;
}

.navbar-brand {
  color: #FFF2E0;
}

.navbar-toggler-icon{
  background-image: url(https://blackwidow12.files.wordpress.com/2013/02/old-marriage-license-pink-rose-lilac-n-lavender.png)!important;
}

.row {
  display: flex;
  margin: auto;
}





