
{% extends 'lab1_header.html' %}
{% block tab_title %} Friend List {% endblock %}
    
  </head>

  <body>
    {% block content %}
    

    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for f in friends %}
      <tr>
        <td>{{ f.name }}</td>
        <td>{{ f.npm }}</td>
        <td>{{ f.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  
    {% endblock %}

  </body>
</html>
