{% extends 'lab1_header.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block tab_title %} {{ name }} {% endblock %}</title>

    <!-- add bootstrap CSS stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
  </head>

  
  <body>
      
      {% block content %}
      
      <div class="container">
        <h1> Hello my name is {{ name }}</h1>
        <article>NPM : {{ npm }}</article>
        <article>I am {{ age }} years old</article>
      </div>
      
      {% endblock %}
    </body>
</html>
