{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block tab_title %} None {% endblock %}</title>

    <!-- add bootstrap CSS stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />

  </head>

  <body>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg">
        <span class="navbar-brand mb-0 h1">Indira's PBP Lab</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <img href="https://blackwidow12.files.wordpress.com/2013/02/old-marriage-license-pink-rose-lilac-n-lavender.png">
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/lab-3/add">Add Friend</a>
            <a class="nav-item nav-link" href="/lab-1/friends">Friend List</a>
            <a class="nav-item nav-link" href="/lab-4/add-note">Add Letter</a>
            <a class="nav-item nav-link" href="/lab-4/">Sapphic Letters</a>
            <a class="nav-item nav-link" href="/lab-4/note-list">Sapphic Cards</a>
          </div>
        </div>
      </nav>

      <h1>{% block title %} {% endblock %}</h1>
      
      {% block content %}{% endblock %}
      
      <!-- add JS components for bootstrap -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      

    </body>
</html>
